@import include-media

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px)
/* Inclusive and exclusive operators for a finer control over the intervals */
@include media(">phone", "<=tablet")
  width: 50%


/* Use ligatured operators if you fancy a slicker declaration */
@include media("≥phone", "≤tablet")
  line-height: 1.5


//@media only screen and (min-device-width: 600px)
//  html
//    font-size: 120%
//    max-width: 800px
//
//@media only screen and (min-device-width: 800px)
//  html
//    font-size: 150%
//  header, main, footer
//    margin: 0 auto
//    padding: 1em 1em
//    max-width: 790px
//
//@media only screen and (min-device-width: 900px)
//  html
//    font-size: 150%
//  header, main, footer
//    margin: 0 auto
//    padding: 1em 1em
//    max-width: 890px
//
//@media only screen and (min-device-width: 1200px)
//  html
//    font-size: 180%
//  header, main, footer
//    margin: 0 auto
//    padding: 1em 1em
//    max-width: 1100px
