@media only screen and (min-device-width: 600px)
  header, main, footer
    width: 750px

@media only screen and (min-device-width: 800px)
  header, main, footer
    width: 790px

@media only screen and (min-device-width: 900px)
  header, main, footer
    width: 880px

@media only screen and (min-device-width: 1200px)
  header, main, footer
    width: 1000px
