// using indented SASS style (https://sass-lang.com/)
@import fonts
@import pygments

@import shared-variables

html
    background: $mineShaft
    font-size: 140%

body
    font-family: $fontMolengo
    // https://meyerweb.com/eric/thoughts/2018/06/28/what-is-the-css-ch-unit/
    max-width: 90ch
    margin: 0 auto

a
    text-decoration: none

    &:active
        outline: 3px dashed $buddhaGold

    code
        text-decoration: underline

hr
    margin: 1.5em 0 0 0
    border: 2px solid $mineShaft

p
    font-size: 1.15em
    line-height: 1.5em
    // justified text with automatic hyphenation
    // needs <html lang = "en"> to work properly
    // If needed (e.g. different language), use: &shy;
    hyphens: auto
    text-align: justify
    margin: 1% 0 2% 0

ul
    list-style-type: square

table
    padding: 4px
    margin: 6px
    border: none

    th
        font-size: 1.15rem
        font-weight: bold

    td, th
        background: $tundora
        padding: 10px 20px
        border-bottom: 2px solid $mineShaft

@import 1_header
@import 2_main
@import 3_footer

// # FIXME remove if character based approach works
// import media-queries last as they need to override things
//@import media-queries
