{% macro render_article_info(a, withUpdate=True) %}
    <div class="info">
        {% if a.tags is defined %}
            [
            {% for tag in a.tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
            ]
        {% endif %}
        <span class="date" title="{{ title }}">
            [
            {{ a.publishedOn|dateformat }}
            {% if withUpdate and a.lastModified %}
                (updated: {{ a.lastModified|dateformat }})
            {% endif %}
            ]
        </span>
    </div>
{% endmacro %}

{% macro render_summary(a) %}
    <h2><a href="{{ a|url }}">{{ a.title }}</a></h2>
    {{ render_article_info(a, withUpdate=False) }}
    <div class="summary">
        {{ a.summary }}
    </div>
    <hr>
{% endmacro %}

{% macro render_article(a, from_index=false) %}
    <h2>{{ a.title }}</h2>
    {{ render_article_info(a) }}
    <div class="summary">
        {{ a.summary }}
    </div>
    <div class="content">
        {{ a.content }}
    </div>
{% endmacro %}
