{# p is type Page #}

{% macro render_tags(p, class="tags") %}
    {% if p.tags is defined %}
        {% for t in p.tags -%}
            <a href="{{ ('/articles/tag/' ~ t.lower())|url }}">
                <span class="tag">{{ t }}</span>
            </a>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_date(p, class="date") %}
    <span class="date" title="published: {{ p.crtime }}">
        [last update: {{ p.mtime }}]
    </span>
{% endmacro %}

{% macro render_info(p, class="info") %}
    <div class="{{ class }}">
        {{ render_tags(p) }}
        {{ render_date(p) }}
    </div>
{% endmacro %}

{% macro render_article_summary(p) %}
    <div class="title"><a href="{{ p|url }}">{{ p.title }}</a></div>
    <div class="summary">
        {{ p.summary|typogrify }}
        <div class="more"><a href="{{ p|url }}">[read article]</a></div>
    </div>
    {{ render_info(p) }}
    <hr>
{% endmacro %}

{% macro render_content(p) %}
    <div id="{{ p._slug }}" class="title">
        <a href="{{ p.url }}">{{ p.title }}</a>
    </div>
    {% if p.summary %}
        <div class="summary">
            {{ p.summary|typogrify }}
        </div>
    {%  endif %}
    {{ p.content|typogrify }}
    {% if p.datamodel.name == "Article" %}
        {{ render_info(p) }}
    {% endif %}
{% endmacro %}
