{% macro render_tags(a, class="tags") %}
        {% if a.tags is defined %}
            {% for tag in a.tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        {% endif %}
{% endmacro %}

{% macro render_date(a, class="date") %}
    <span class="date" title="published: {{ a.crtime|dateformat }}">
        [last update: {{ a.mtime|dateformat }}]
    </span>
{% endmacro %}

{% macro render_info(a, class="info") %}
    <div class="{{ class }}">
        {{ render_tags(a) }}
        {{ render_date(a) }}
    </div>
{% endmacro %}

{% macro render_summary(a, class="summary") %}
    {% if a.summary %}
        <div class="{{ class }}">
        {{ a.summary|typogrify }}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_article_summary(a, class="summary") %}
    <h1><a href="{{ a|url }}">{{ a.title }}</a></h1>
    {{ render_info(a) }}
    <div class="{{ summary }}">
        {{ render_summary(a, class=class) }}
        <div class="more"><a href="{{ a|url }}">[read more]</a></div>
    </div>
    <hr>
{% endmacro %}

{% macro render_content(a) %}
    <h1 id="{{ a._slug }}"><a href="{{ a.url }}">{{ a.title }}</a></h1>
    {{ render_info(a) }}
    {% if a.summary %}
        <div class="summary">
            {{ render_summary(a, class=class) }}
        </div>
    {% endif %}
    <div class="content">
        {{ a.content|typogrify }}
    </div>
{% endmacro %}
