{% macro render_tags(a, class="tags") %}
        {% if a.tags is defined %}
            {% for tag in a.tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        {% endif %}
{% endmacro %}

{% macro render_date(a, class="date") %}
    <span class="date" title="published: {{ a.crtime }}">
        [last update: {{ a.mtime }}]
    </span>
{% endmacro %}

{% macro render_info(a, class="info") %}
    <div class="{{ class }}">
        {{ render_tags(a) }}
        {{ render_date(a) }}
    </div>
{% endmacro %}

{% macro render_article_summary(a) %}
    <h1><a href="{{ a|url }}">{{ a.title }}</a></h1>
    <div class="summary">
        {{ a.summary|typogrify }}
        <div class="more"><a href="{{ a|url }}">[read article]</a></div>
    </div>
    {{ render_info(a) }}
    <hr>
{% endmacro %}

{% macro render_content(a) %}
    <h1 id="{{ a._slug }}"><a href="{{ a.url }}">{{ a.title }}</a></h1>
    {% if a.summary %}
        <div class="summary">
            {{ a.summary|typogrify }}
        </div>
    {%  endif %}
    <div class="content">
        {{ a.content|typogrify }}
    </div>
    {{ render_info(a) }}
{% endmacro %}
