<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="{{ '/static/pygments-solarized.css'|asseturl }}">
    <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
    <title>{% block title %}{{ this.title }}{% endblock %} — obestwalter</title>
</head>
<body>
<header>
    <div class="title"><a href="/">obestwalter</a></div>
    <nav>
        <ul>
            <li{% if this._path == '/' %} class="active"{% endif %}>
                <a href="{{ '/'|url }}">Home</a>
            </li>
            {% for id, item in bag('menu').items() %}
                <li {% if this.is_child_of(item.path) %} class="active"{% endif %}>
                    <a href="{{ item.path|url }}">{{ item.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>

<main>{% block body %}{% endblock %}</main>

<footer>
    <div class="content">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            &copy; Oliver Bestwalter (CC BY-NC-SA)
        </a>
        &nbsp;<em>||</em>&nbsp;
        <a href="https://github.com/obestwalter/obestwalter.github.io">Source</a>
    </div>
</footer>
</body>
