{% extends "_base.html" %}
{% from "macros/content.html" import render_diary_summary, render_article_summary %}

{% block title %}Home{% endblock %}
{% block body %}
    {% if this.tags %}
        <div class="category">Tags</div>
        <ul>
            {% for t in this.tags -%}
                <li>
                    <a href="{{ ('/articles@tag/' ~ t.lower())|url }}">
                        All posts tagged {{ t }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="category">Hi, I am Oliver :)</div>
    <h1>... turns out I am not really writing many articles.</h1>
    <p>I do stuff though, so maybe look at my <a href="projects">projects</a> for now?</p>

    <hr>

    <div class="category">Articles</div>
    {% for post in site.query('/articles').order_by('-mtime') %}
        {{ render_article_summary(post) }}
    {% endfor %}
{% endblock %}
