{% extends "_base.html" %}
{% from "macros/content.html" import render_diary_summary, render_article_summary %}

{% block title %}Home{% endblock %}
{% block body %}
    <div class="category">Hi, I am Oliver :)</div>

    <br>

    <div class="summary">
        <img src="winter-is-coming.jpg" alt="Oliver covered in snow in winter">

        <p>Welcome to my little corner in the interwebs. I am a software developer at <a href="https://avira.com">Avira</a> and a coach at the <a href="https://python-academy.com/">Python Academy</a>. I write mainly about programming ... if I ever write. I mean, I write a lot. But usually it ends up half done and abandoned in the less fashionable and harder to reach corners of my hard disk.</p>
    </div>

    <br><br>

    <hr>

    <div class="category">Articles</div>

    <br>

    {% for post in site.query('/articles').order_by('-mtime') %}
        {{ render_article_summary(post) }}
    {% endfor %}
{% endblock %}
