<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
    <title>{% block title %}Home{% endblock %} — obestwalter</title>
</head>
<body>
<header>
    <h1>obestwalter</h1>
    <nav>
        <ul>
            <li{% if this._path == '/' %} class="active"{% endif %}><a
                    href="{{ '/'|url }}">Home</a></li>
            {% for href, title in [
                    ['/projects', 'Projects'],
                    ['/articles', 'Articles'],
                    ['/about', 'About']] %}
                <li{% if this.is_child_of(href) %} class="active"{% endif %}><a
                    href="{{ href|url }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>

<article>
    {% block body %}{% endblock %}
</article>

<footer>
    <a href="/about">&copy; Oliver Bestwalter</a>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
       title="licensed under a Creative Commons Attribution 4.0 International License"
       target="_blank">
        (CC-A-4.0)
    </a>
</footer>
</body>
