$thunder: #232223
$outerSpace: #333638
$chaletGreen: #466536
$roseOfSharon: #BF5700
$grannySmithApple: #BBE599

html
  background: $thunder
  margin: 0

body
  font-family: 'Arvo', serif
  font-size: 1.0em
  margin: 1em auto

a
  text-decoration: none

h1, h2, h3, h4, h5, h6
  font-family: 'Molengo', sans-serif

hr
  border: 1px solid $chaletGreen

p
  margin: 1em 0
  padding: 0

ul
  list-style-type: square

header, article, footer
  background: $roseOfSharon
  color: $grannySmithApple
  margin: 0 auto
  padding: 1em 1em
  width: 45em

header
  padding-bottom: 0
  padding-top: 0.5em
  a
    color: $outerSpace
    padding: 0 0.3em 0 0.3em
    text-align: left
    &:hover
      color: lighten($outerSpace, 33%)
  h1
    font-size: 200%
    font-weight: normal
    margin: 0
    padding: 0
    text-align: right
  nav
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        display: inline
        margin: 0 0.5em 0 0
        padding: 0

article
  a
    color: $roseOfSharon
    &:hover
      color: lighten($roseOfSharon, 33%)
  background: $outerSpace

footer
  text-align: right
  a
    color: $grannySmithApple
    font-size: 70%
    &:hover
      color: $thunder
