$titleFont: "Molengo", sans-serif
$textFont: "Arvo", serif
$codeFont: "Share Tech Mono", sans-serif

//                        Darcula color type
$mineShaft: #282828    // background of active line
$tundora: #404040      // normal background
$limeade: #488A05      // strings
$bittersweet: #FF6666  // comments
$roseOfSharon: #BF5700
$buddhaGold: #CC9905   // keywords
$celadon: #BBE5A9      // normal text

// SOLARIZED HEX TERMCOL
$base03: #002b36   //  brblack    Daintree
$base02: #073642   //  black      Tiber
$base01: #586e75   //  brgreen    Cutty Sark
$base00: #657b83   //  bryellow   Pale Sky
$base0: #839496    //  brblue     Granny Smith
$base1: #93a1a1    //  brcyan     Pewter
$base2: #eee8d5    //  white      Aths Special
$base3: #fdf6e3    //  brwhite    Old Lace
$yellow: #b58900   //  yellow     Pirate Gold
$orange: #cb4b16   //  brred      Orange Roughy
$red: #dc322f      //  red        Punch
$magenta: #d33682  //  magenta    Cerise
$violet: #6c71c4   //  brmagenta  Blue Marguerite
$blue: #268bd2     //  blue       Curious Blue
$cyan: #2aa198     //  cyan       Jungle Green
$green: #859900    //  green      Limeade

// For normalize
$base-font-size: 16px !default
$base-line-height: 24px !default
$base-unit: "em" !default
$base-font-family: Arvo !default
$h1-font-size: 1.7 * $base-font-size !default
$h2-font-size: 1.6 * $base-font-size !default
$h3-font-size: 1.5 * $base-font-size !default
$h4-font-size: 1.4 * $base-font-size !default
$h5-font-size: 1.3 * $base-font-size !default
$h6-font-size: 1.2 * $base-font-size !default
$normalize-vertical-rhythm: True !global
$indent-amount: 1em !default
