html {
    background: #232223;
    color: #BBE599;
    margin: 0px;
}

body {
    font-family: 'Arvo', sans-serif;
    margin: 10px 5px;
}

a {
    color: #112e4c;
}

a:hover {
    color: #12466b;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #BF5700;
    padding: 20px 30px;
}

header h1 {
    color: #BBE599;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #424242;
}

div.page a {
    color: #BF5700;
}

div.page a:hover {
    color: #e95b00;
}
