html {
    background: #232223;
    margin: 0px;
    font-size: 1.1em;
}

body {
    font-family: 'Arvo', serif;
    margin: 1em 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Molengo', sans-serif;
}

a {
    text-decoration: none;
}

header, article, footer {
    background: #BF5700;
    color: #BBE599;
    margin: 0 auto;
    padding: 1em 1em;
    width: 42em;
}

header {
    padding-top: 13px;
    padding-bottom: 0px;
}

header a {
    text-align: left;
    padding: 23px 5px;
    color: #333638;
}

header a:hover {
    color: #333638;
}

header h1 {
    text-align: right;
    padding: 0px 0px;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

article {
    background: #333638;
}

article a {
    color: #BF5700;
}

article a:hover {
    color: #DF5D00;
}

footer {
    text-align: right;
}

footer a {
    color: #BBE599;
    font-size: 0.8em;
}

footer a:hover {
    color: #232223;
}

footer span {
    font-size: 0.8em;
}

/* ############################ CUSTOM CLASSES ############################# */

header .active a {
    background: #333638;
    padding: 1px 4px;
    color: #DF5D00;
}

article .info {
    color: #466536;
    font-size: 80%;
    text-align: right;
}

article .summary {
    font-size: 1.2em;
}

/*article .content { }*/
