/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
 * ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS. */
html {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  line-height: 1.5em;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated). */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-. */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-family: "Molengo", sans-serif;
  font-size: 1.7em;
  line-height: 1.76471em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.88235em 0; }

h2 {
  font-family: "Molengo", sans-serif;
  font-size: 1.6em;
  line-height: 1.875em;
  margin: 0.9375em 0; }

h3 {
  font-family: "Molengo", sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  margin: 1em 0; }

h4 {
  font-family: "Molengo", sans-serif;
  font-size: 1.4em;
  line-height: 2.14286em;
  margin: 1.07143em 0; }

h5 {
  font-family: "Molengo", sans-serif;
  font-size: 1.3em;
  line-height: 2.30769em;
  margin: 1.15385em 0; }

h6 {
  font-family: "Molengo", sans-serif;
  font-size: 1.2em;
  line-height: 1.25em;
  margin: 1.25em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin. */
blockquote {
  margin: 1.5em 40px; }

dl,
ol,
ul {
  margin: 1.5em 0; }

/**
 * Turn off margins on nested lists. */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

dd {
  margin: 0 0 0 40px; }

ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Add the correct display in IE 9-. */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8. */
figure {
  margin: 1.5em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE. */
main {
  display: block; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin. */
p,
pre {
  margin: 1.5em 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
pre, code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
 * ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated). */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
 * ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6. */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-. */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-. */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-. */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-. */
img {
  border-style: none; }

/**
 * Hide the overflow in IE. */
svg:not(:root) {
  overflow: hidden; }

/* Forms
 * ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/). */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari. */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.5em;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE. */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox. */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari. */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox. */
  /**
   * Restore the focus styles unset by the previous rule. */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge. */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-. */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Change the border, margin, and padding in all browsers (opinionated). */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE. */
textarea {
  overflow: auto; }

/* Interactive
 * ========================================================================== */
/* Add the correct display in Edge, IE, and Firefox. */
details {
  display: block; }

/* Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Add the correct display in IE 9-. */
menu {
  display: block;
  /* 1. Set 1 unit of vertical rhythm on the top and bottom margin.
   * 2. Set consistent space for the list style image. */
  margin: 1.5em 0;
  /* 1 */
  padding: 0 0 0 40px;
  /* 2 */
  /**
   * Turn off margins on nested lists. */ }
  menu menu, ol menu, ul menu {
    margin: 0; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-. */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE. */
template {
  display: none; }

/* Hidden
 * ========================================================================== */
/**
 * Add the correct display in IE 10-. */
[hidden] {
  display: none; }

/*SOLARIZED HEX     16/8 TERMCOL  XTERM/HEX   L*A*B      sRGB        HSB
 *--------- ------- ---- -------  ----------- ---------- ----------- -----------
 *base03    #002b36  8/4 brblack  234 #1c1c1c 15 -12 -12   0  43  54 193 100  21
 *base02    #073642  0/4 black    235 #262626 20 -12 -12   7  54  66 192  90  26
 *base01    #586e75 10/7 brgreen  240 #4e4e4e 45 -07 -07  88 110 117 194  25  46
 *base00    #657b83 11/7 bryellow 241 #585858 50 -07 -07 101 123 131 195  23  51
 *base0     #839496 12/6 brblue   244 #808080 60 -06 -03 131 148 150 186  13  59
 *base1     #93a1a1 14/4 brcyan   245 #8a8a8a 65 -05 -02 147 161 161 180   9  63
 *base2     #eee8d5  7/7 white    254 #d7d7af 92 -00  10 238 232 213  44  11  93
 *base3     #fdf6e3 15/7 brwhite  230 #ffffd7 97  00  10 253 246 227  44  10  99
 *yellow    #b58900  3/3 yellow   136 #af8700 60  10  65 181 137   0  45 100  71
 *orange    #cb4b16  9/3 brred    166 #d75f00 50  50  55 203  75  22  18  89  80
 *red       #dc322f  1/1 red      160 #d70000 50  65  45 220  50  47   1  79  86
 *magenta   #d33682  5/5 magenta  125 #af005f 50  65 -05 211  54 130 331  74  83
 *violet    #6c71c4 13/5 brmagenta 61 #5f5faf 50  15 -45 108 113 196 237  45  77
 *blue      #268bd2  4/4 blue      33 #0087ff 55 -10 -45  38 139 210 205  82  82
 *cyan      #2aa198  6/6 cyan      37 #00afaf 60 -35 -05  42 161 152 175  74  63
 *green     #859900  2/2 green     64 #5f8700 60 -20  65 133 153   0  68 100  60 */
.hll {
  background-color: #002b36; }

.c {
  color: #586e75;
  font-style: italic; }

/* Comment */
.err {
  color: #dc322f; }

/* Error */
.g {
  color: #839496; }

/* Generic */
.k {
  color: #859900; }

/* Keyword */
.l {
  color: #839496; }

/* Literal */
.n {
  color: #93a1a1; }

/* Name */
.o, .x, .p {
  color: #839496; }

/* Operator */
/* Other */
/* Punctuation */
.ch, .cm, .cp, .cpf, .c1, .cs {
  color: #586e75;
  font-style: italic; }

/* Comment.Hashbang */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.PreprocFile */
/* Comment.Single */
/* Comment.Special */
.gd, .ge, .gr, .gh, .gi, .go, .gp, .gs, .gu, .gt {
  color: #839496; }

/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
.kc, .kd {
  color: #859900; }

/* Keyword.Constant */
/* Keyword.Declaration */
.kn, .kp {
  color: #cb4b16; }

/* Keyword.Namespace */
/* Keyword.Pseudo */
.kr, .kt {
  color: #859900; }

/* Keyword.Reserved */
/* Keyword.Type */
.ld {
  color: #839496; }

/* Literal.Date */
.m, .s {
  color: #2aa198; }

/* Literal.Number */
/* Literal.String */
.na {
  color: #839496; }

/* Name.Attribute */
.nb, .nc {
  color: #268bd2; }

/* Name.Builtin */
/* Name.Class */
.no {
  color: #b58900; }

/* Name.Constant */
.nd, .ni, .ne {
  color: #cb4b16; }

/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
.nf {
  color: #268bd2; }

/* Name.Function */
.nl {
  color: #839496; }

/* Name.Label */
.nn {
  color: #b58900; }

/* Name.Namespace */
.nx {
  color: #839496; }

/* Name.Other */
.py {
  color: #268bd2; }

/* Name.Property */
.nt {
  color: #859900; }

/* Name.Tag */
.nv {
  color: #cb4b16; }

/* Name.Variable */
.ow {
  color: #859900; }

/* Operator.Word */
.w {
  color: #002b36; }

/* Text.Whitespace */
.mb, .mf, .mh, .mi, .mo, .sb, .sc, .sd, .s2 {
  color: #2aa198; }

/* Literal.Number.Bin */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
.se {
  color: #cb4b16; }

/* Literal.String.Escape */
.sh {
  color: #2aa198; }

/* Literal.String.Heredoc */
.si {
  color: #cb4b16; }

/* Literal.String.Interpol */
.sx, .sr, .s1, .ss {
  color: #2aa198; }

/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
.bp {
  color: #268bd2;
  font-weight: bold; }

/* Name.Builtin.Pseudo */
.vc, .vg, .vi {
  color: #268bd2; }

/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
.il {
  color: #2aa198; }

/* Literal.Number.Integer.Long */
@font-face {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/share-tech-mono-v6-latin-regular.eot");
  src: local("Share Tech Mono"), local("ShareTechMono-Regular"), url("fonts/share-tech-mono-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/share-tech-mono-v6-latin-regular.woff2") format("woff2"), url("fonts/share-tech-mono-v6-latin-regular.woff") format("woff"), url("fonts/Share-TechMono.ttf") format("truetype"), url("fonts/share-tech-mono-v6-latin-regular.svg#ShareTechMono") format("svg"); }
@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/arvo-v9-latin-regular.eot");
  src: local("Arvo"), url("fonts/arvo-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/arvo-v9-latin-regular.woff2") format("woff2"), url("fonts/arvo-v9-latin-regular.woff") format("woff"), url("fonts/Arvo-Regular.ttf") format("truetype"), url("fonts/arvo-v9-latin-regular.svg#Arvo") format("svg"); }
@font-face {
  font-family: "Arvo";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/arvo-v9-latin-italic.eot");
  src: local("Arvo Italic"), local("Arvo-Italic"), url("fonts/arvo-v9-latin-italic.eot?#iefix") format("embedded-opentype"), url("fonts/arvo-v9-latin-italic.woff2") format("woff2"), url("fonts/arvo-v9-latin-italic.woff") format("woff"), url("fonts/Arvo-Italic.ttf") format("truetype"), url("fonts/arvo-v9-latin-italic.svg#Arvo") format("svg"); }
@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/arvo-v9-latin-700.eot");
  src: local("Arvo Bold"), local("Arvo-Bold"), url("fonts/arvo-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/arvo-v9-latin-700.woff2") format("woff2"), url("fonts/arvo-v9-latin-700.woff") format("woff"), url("fonts/Arvo-Bold.ttf") format("truetype"), url("fonts/arvo-v9-latin-700.svg#Arvo") format("svg"); }
@font-face {
  font-family: "Arvo";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/arvo-v9-latin-700italic.eot");
  src: local("Arvo Bold Italic"), local("Arvo-BoldItalic"), url("fonts/arvo-v9-latin-700italic.eot?#iefix") format("embedded-opentype"), url("fonts/arvo-v9-latin-700italic.woff2") format("woff2"), url("fonts/arvo-v9-latin-700italic.woff") format("woff"), url("fonts/Arvo-BoldItalic.ttf") format("truetype"), url("fonts/arvo-v9-latin-700italic.svg#Arvo") format("svg"); }
@font-face {
  font-family: "Molengo";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/molengo-v7-latin-regular.eot");
  src: local("Molengo"), local("Molengo-Regular"), url("fonts/molengo-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/molengo-v7-latin-regular.woff2") format("woff2"), url("fonts/molengo-v7-latin-regular.woff") format("woff"), url("fonts/Molengo-Regular.ttf") format("truetype"), url("fonts/molengo-v7-latin-regular.svg#Molengo") format("svg"); }
html {
  background: #282828; }

body {
  font-family: "Arvo", serif; }

a {
  text-decoration: none; }

hr {
  border: 1px solid #BF5700; }

ul {
  list-style-type: square; }

header {
  background: #BF5700;
  padding-bottom: 0;
  padding-top: 0.5em; }
  header a {
    color: #BBE5A9;
    padding: 0 0.3em 0 0.3em;
    text-align: left; }
    header a:hover {
      color: #f9fdf7; }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    header nav ul li {
      display: inline;
      margin: 0 0.5em 0 0;
      padding: 0; }
  header .active {
    background: #404040; }
    header .active a {
      padding: 0.1em 0.4em;
      color: #BBE5A9; }
      header .active a:hover {
        color: #f9fdf7; }
  header .site-name {
    font-size: 200%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: right; }
    header .site-name a {
      margin: 0;
      padding: 0;
      color: #BBE5A9; }
      header .site-name a:hover {
        color: #f9fdf7; }

main {
  background: #404040;
  color: #BBE5A9; }
  main a {
    color: #BF5700; }
    main a:hover {
      color: #ff8926; }
  main .category {
    font-size: 160%;
    color: #282828; }
    main .category:first-letter {
      font-size: 170%; }
  main .summary {
    color: #daf1d0;
    font-style: italic;
    margin: 0 2em; }
    main .summary:first-letter {
      font-size: 170%;
      font-weight: bold; }
  main .content {
    word-spacing: 0.2em;
    line-height: 1.5;
    margin: 1em; }
    main .content blockquote {
      border-left: 0.5em solid #BF5700;
      padding-left: 0.5em; }
    main .content code {
      background-color: #282828;
      font-family: "Share Tech Mono", sans-serif;
      padding: 0.1em 0.2em; }
    main .content img {
      border: solid 1px #282828;
      -moz-box-shadow: 5px 5px 10px #282828;
      -webkit-box-shadow: 5px 5px 10px #282828;
      box-shadow: 5px 5px 5px #282828; }
    main .content pre {
      border: solid 1px #282828;
      -moz-box-shadow: 5px 5px 10px #282828;
      -webkit-box-shadow: 5px 5px 10px #282828;
      box-shadow: 5px 5px 5px #282828;
      background-color: #282828;
      font-family: "Share Tech Mono", sans-serif;
      font-size: 95%; }
  main .highlight {
    background-color: #282828;
    padding-left: 0.6em; }
  main .info {
    font-size: 70%;
    text-align: right; }
    main .info .tag {
      background-color: #BF5700;
      color: #404040;
      margin-right: 0.3em;
      padding: 0px 5px 1px 5px; }
    main .info .date {
      color: #BF5700; }
  main .more {
    text-align: right; }
  main .pagination .disabled {
    color: rgba(187, 229, 169, 0.3); }

footer {
  background: #BF5700;
  text-align: right; }
  footer p {
    color: #FF6666;
    font-size: 70%; }
    footer p a {
      color: #BBE5A9; }
      footer p a:hover {
        color: #f9fdf7; }

/*# sourceMappingURL=style.css.map */
