@import _fonts.scss
@import _basic.sass

@mixin shadowed ($horizontal: 5px, $vertical: 5px, $blur: 10px, $color: $thunder)
  border: solid 1px $color
  -moz-box-shadow: $horizontal $vertical $blur $color
  -webkit-box-shadow: $horizontal $vertical $blur $color
  box-shadow: $horizontal $horizontal $vertical $color

header
  .active
    background: $outerSpace
    a
      padding: 0.1em 0.4em
      color: $roseOfSharon
      &:hover
        color: lighten($roseOfSharon, 33%)

//div
//  border: 1px dotted $roseOfSharon


article
  .content
    word-spacing: 0.2em
    line-height: 1.5
    blockquote
      border-left: 0.5em solid $roseOfSharon
      padding-left: 0.5em
    img
      @include shadowed
    pre
      font-family: "Share Tech Mono"
      font-size: 95%
  .highlight
    @include shadowed
    background-color: $thunder
    padding-left: 0.6em
  .info
    color: $chaletGreen
    font-size: 70%
    text-align: right
    .tag
      color: $outerSpace
      background-color: $roseOfSharon
      margin-right: 0.3em
      padding: 0px 5px
  .summary
    &:first-letter
      font-size: 170%
      font-weight: bold
    color: lighten($grannySmithApple, 10%)
    font-style: italic
    margin: 0 2em
