@import _fonts.scss

$thunder: #232223
$outerSpace: #333638
//$chaletGreen: #466536
$roseOfSharon: #BF5700
$koromiko: #FFAD68
$grannySmithApple: #BBE599

// ############################################################################

@mixin shadowed ($horizontal: 5px, $vertical: 5px, $blur: 10px, $color: $thunder)
  border: solid 1px $color
  -moz-box-shadow: $horizontal $vertical $blur $color
  -webkit-box-shadow: $horizontal $vertical $blur $color
  box-shadow: $horizontal $horizontal $vertical $color

// ############################################################################

html
  background: $thunder
  margin: 0
body
  background: $roseOfSharon
  font-family: 'Arvo', serif
  font-size: 1.0em
  margin: 1em auto
a
  text-decoration: none
h1, h2, h3, h4, h5, h6
  font-family: 'Molengo', sans-serif
hr
  border: 1px solid $roseOfSharon
p
  margin: 1em 0
  padding: 0
ul
  list-style-type: square
em
  font-style: normal
  font-weight: bold

header, main, footer
  margin: 0 auto
  padding: 0
  width: 100%

//@media only screen and (min-device-width: 900px)
//  header, main, footer
//    margin: 0 auto
//    padding: 1em 1em
//    width: 900px

// ############################################################################

header
  padding-bottom: 0
  padding-top: 0.5em
  a
    color: $outerSpace
    padding: 0 0.3em 0 0.3em
    text-align: left
    &:hover
      color: $grannySmithApple
  nav
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        display: inline
        margin: 0 0.5em 0 0
        padding: 0
  .active
    background: $outerSpace
    a
      padding: 0.1em 0.4em
      color: $roseOfSharon
      &:hover
        color: $koromiko
  .title
    font-size: 200%
    font-weight: normal
    margin: 0
    padding: 0
    text-align: right
    a
      margin: 0
      padding: 0
      color: $grannySmithApple
      &:hover
        color: lighten($grannySmithApple, 10%)

// ############################################################################

main
  background: $outerSpace
  color: $grannySmithApple
  a
    color: $koromiko
    &:hover
      color: $roseOfSharon
  h1
    font-size: 140%
  h2
    font-size: 130%
  h3
    font-size: 120%
  h4
    font-size: 115%
  h5
    font-size: 105%
  h6
    font-size: 105%
    font-weight: normal

  .category
    font-size: 160%
    color: $thunder
    &:first-letter
      font-size: 170%
  .title
    font-family: 'Molengo', sans-serif
    font-size: 150%
    font-weight: bold
  .summary
    &:first-letter
      font-size: 170%
      font-weight: bold
    color: lighten($grannySmithApple, 10%)
    font-style: italic
    margin: 0 2em
  .content
    word-spacing: 0.2em
    line-height: 1.5
    blockquote
      border-left: 0.5em solid $roseOfSharon
      padding-left: 0.5em
    code
      background-color: $thunder
      font-family: "Share Tech Mono", sans-serif
      padding: 0.1em 0.2em
    img
      @include shadowed
    pre
      @include shadowed
      background-color: $thunder
      font-family: "Share Tech Mono", sans-serif
      font-size: 95%
  .highlight
    background-color: $thunder
    padding-left: 0.6em
  .info
    font-size: 70%
    text-align: right
    .tag
      background-color: $koromiko
      color: $outerSpace
      margin-right: 0.3em
      padding: 0px 5px 1px 5px
    .date
      color: $koromiko
  .more
    text-align: right
  .pagination
    .disabled
      text-decoration: line-through

// ############################################################################

footer
  color: $grannySmithApple
  .content
    padding: 0 1em 1em 0
    font-size: 70%
    text-align: right
    a
      color: $grannySmithApple
      &:hover
        color: $thunder
