/*
Error: Undefined variable: "$test-color".
        on line 93 of base/_hover.scss
        from line 3 of style.sass

Backtrace:
base/_hover.scss:93
style.sass:3
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:173:in `perform_arg'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `each'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `each'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:124:in `_perform'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:471:in `visit_variable'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:272:in `block (3 levels) in visit_for'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:272:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:272:in `block (2 levels) in visit_for'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:268:in `each'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:268:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:268:in `block in visit_for'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:267:in `visit_for'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:301:in `block (2 levels) in visit_if'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:301:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:301:in `block in visit_if'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:300:in `visit_if'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:301:in `block (2 levels) in visit_if'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:301:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:301:in `block in visit_if'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:300:in `visit_if'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:251:in `block (3 levels) in perform_sass_fn'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:251:in `each'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:251:in `block (2 levels) in perform_sass_fn'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:250:in `catch'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:250:in `block in perform_sass_fn'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:247:in `perform_sass_fn'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/funcall.rb:132:in `_perform'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/home/oliver/.gem/ruby/2.4.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/home/oliver/.gem/ruby/2.4.0/bin/sass:22:in `load'
/home/oliver/.gem/ruby/2.4.0/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$test-color\".\A         on line 93 of base/_hover.scss\A         from line 3 of style.sass"; }
